@model List<DataAccess.Entites.Car>;

<h1>Car List</h1>

<a asp-action="Create" class="btn btn-primary mt-4">Add a car</a>

@if(Model.Any())
{
    <p>Count of Car: @Model.Count</p>
}
else
{
    <p>No cars here yet</p>
}

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach(var c in Model)
    {
        <div class="col">
            <div class="card h-100">
                @*<div class="car-card-image">
                    <img src="@(c.ImagePath ?? "https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-15.png")" class="card-img-top" alt="...">
                </div>*@

                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false" data-bs-touch=true>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="@c.ImagePath" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://static.carthrottle.com/workspace/uploads/posts/2017/07/43df24faa6299543bb3c862724432333.JPG" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="http://images4.fanpop.com/image/photos/22300000/Random-Cars-autorev-22326979-1400-930.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="card-body container">
                    <h5 class="card-title">@c.Name  @c.Year</h5>
                    <strong class="price">
                        <h4 class="card-text">@c.Price $</h4>
                    </strong>
                    <div class="row row-cols-2">
                        <p class="card-text col">
                            <i class="bi bi-speedometer2"></i>
                            @c.Km 000 Km
                        </p>
                        <p class="card-text col">
                            <i class="bi bi-geo-alt"></i>
                            @c.City
                        </p>
                        <p class="card-text col">
                            <i class="bi bi-fuel-pump-fill"></i>
                            @c.Fuel
                        </p>
                        <p class="card-text col">
                            @c.Transmission
                        </p>
                    </div>
                    <a asp-action="Details" asp-route-id="@c.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-dark">Show Details</a>
                    <a asp-action="Edit" asp-route-id="@c.Id" class="btn btn-warning">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@c.Id" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    }
</div>